.hidden {
  display: none !important;
}

.header-button {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  border-width: 0.1rem;
  font-family: Poppins, sans-serif;
}

.favorites-header {
  background-color: #f2da5a;
}

.list-of-ingredients-header {
  background-color: #7ada78;
}

.cooking-selection-header {
  background-color: #e58a48;
}

.ingredient-entry {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  font-family: Raleway, sans-serif;
}

.highlight {
  background-color: rgba(255, 199, 2, 0.5);
}

img {
  max-width: 50px;
}

h1 {
  text-align: center;
}

.list-of-ingredients {
  display: flex;
  flex-wrap: wrap;
}

.entry-format {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.cooking-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredient {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 9rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
}

.finished-dish-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  border-radius: 1rem;
  width: 100%;
  padding: 0.2rem 1rem;
}

#finished-dish {
  max-width: 10rem;
}

.favorite-button {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .header-button {
    padding: 2rem 10rem;
  }

  #finished-dish {
    max-width: 100%;
  }

  .finished-dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    border-radius: 1rem;
    width: 50%;
    margin-top: 3rem;
    padding: 1rem;
  }
}
